@import "src/variables.scss";

.list-card {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.list-card:hover:not(.card-selected) {
  background-color: $primary-light;
}

.card-selected {
  background-color: $primary-light;
}

.search-input {
  //padding: 16px;
  display:block;
}

.form-action {
  z-index: 100;
  position: absolute;
  right: 4px;
  top: -30px;
}

.form-action > button {
  margin-left: 3px;
}

