// Import material theming functions
@import "default-theme.scss";

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($candy-app-primary);
$primary-light: mat-color($candy-app-primary-light);

$accent: mat-color($candy-app-accent);
$warn: mat-color($candy-app-warn);
