@import "src/variables.scss";

// spinner
.spinner-container mat-spinner {
  position: absolute;
  top: 7px;
  right: 10px;
}

// actions
.mat-column-actions {
  flex: 0 0 100px;
}
.mat-column-actions > button {
  padding: 0;
  width: 30px;
}


